<!-- Metor set <!DOCTYPE html> automatically -->
<head>
  <title>Averages Choropleth</title>
  <link rel="stylesheet" href="http://thematicmapping.org/playground/d3/d3.slider/d3.slider.css"/> 
  <script src="http://datamaps.github.io/scripts/datamaps.usa.min.js?v=1"></script>
</head>

<body>
  <center>
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">{{> activity_map}}</div>
    <div class="span1"></div>
  </div>
  <span id="year_slidertext" style="font-size: 40px; font-weight: bold; color: black">1950</span><br><p>year</p>
  {{> slider}}
  <table>
    <tr>
    <td><svg height="20" width="20">
      <circle cx="10" cy="10" r="9" stroke="black" stroke-width="1" fill="red"/>
      </svg> </td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&Delta;t > 5</td>   
    </tr>
    <tr>
    <td><svg height="20" width="20">
      <circle cx="10" cy="10" r="9" stroke="black" stroke-width="1" fill="yellow"/>
      </svg> </td>
      <td>&nbsp;2.5 &lt; &Delta;t &lt; 5</td>   
    </tr>
    <tr>
    <td><svg height="20" width="20">
      <circle cx="10" cy="10" r="9" stroke="black" stroke-width="1" fill="lime"/>
      </svg> </td>
      <td>-2.5 &lt; &Delta;t &lt; 2.5</td>    
    </tr>
    <tr>
      <td><svg height="20" width="20">
      <circle cx="10" cy="10" r="9" stroke="black" stroke-width="1" fill="cyan"/>
      </svg></td>
      <td>&nbsp;&nbsp;&nbsp;-5 &lt; &Delta;t &lt; -2.5</td>   
    </tr>
    <tr>
      <td><svg height="20" width="20">
      <circle cx="10" cy="10" r="9" stroke="black" stroke-width="1" fill="blue"/>
      </svg></td>
      <td>&nbsp;&nbsp;&nbsp;-5 &gt; &Delta;t</td>    
    </tr>
    <tr>
      <td><svg height="20" width="20">
      <circle cx="10" cy="10" r="9" stroke="black" stroke-width="1" fill="#555555"/>
      </svg></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Data</td>
    </tr>
  </table>
  {{> graph}}
  <div class="container">
    <header>
      <h1>Climate Data</h1>
    </header>
    <ul>
      {{#each temp_data}}
        {{> all_data}}
      {{/each}}
    </ul>
  </div>
  </center>
</body>

<template name="graph">
  <div id="usa_line_graph" style="margin: 25px"></div>
</template>

<template name="slider">
  <div id="year_slider" style="position: relative; width: 1000px; margin-bottom: 25px;"></div>
</template>

<template name="activity_map">
  <h1 style="font-size: 40px; font-weight: bold; color: black">U.S. Average State Temperatures</h1><br>
  <p style="color: black">U.S. Average: <span id="average_text" style="color: black">xx</span></p>
  <div id="map" style="position: relative; width: 1000px; height: 600px; margin-bottm: 25px;"></div>
</template>

<template name="all_data">
  <li>{{year}} {{state}} {{avg}}</li>
</template>
